.agenda_section {
  color: white;
  background: #6b9e78;
  position: relative;
  overflow: hidden;
  clear: both;
  min-height: fit-content;
  font-family: "Inter", sans-serif;
  padding-bottom: 4em;
}

.button_links:link,
.button_links:visited,
.button_links:active {
  text-decoration: none;
  color:white;
}

.button_links:hover {
  text-decoration: none;
}

.agenda_heading {
  font-size: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 59%;
  font-family: "Inter", sans-serif;
  height: 39px;
}

.agenda_subheading {
  font-size: 1.7em;
  text-align: left;
  margin-bottom: 21px;
  font-weight: bold;
}

.agenda_schedule {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
.agenda_day {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #003d4f;
  transition: background-color 300ms ease-out;
  padding: 0.4em 1em;
}

.agenda_day:hover,
.schedule-info:hover {
  color: #edf1f3;
  background-color: #000000;
}

.timing {
  width: 30%;
  text-align: right;
}

.seperation {
  width: 5%;
}

.detail {
  width: 50%;
  text-align: left;
}

.schedule-info {
  font-size: 1.3em;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #003d4f;
  transition: background-color 300ms ease-out;
  padding: 0.4em 1em;
}

.schedule-info:last-child {
  border-bottom: none;
}

@media screen and (max-width: 1300px) {
  .agenda_schedule {
    width: 90%;
    min-width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .seperation {
    display: none;
  }
  .schedule-info {
    flex-direction: column;
  }
  .timing,
  .detail {
    text-align: center;
    padding: auto;
  }
}

