.footer {
  background-color: #f2f2f2;
  color: #a6a6a6;
  border-radius: 0;
  margin-top: 0;
  padding: 1em 0;
}

.footer_text {
  text-align: center;
  padding: auto;
}

.footer_links,
.text {
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  display: inline;
}

.footer_links {
  color: #003d4f;
}

.footer_links:link,
.footer_links:visited,
.footer_links:active {
  text-decoration: none;
  color: #003d4f;
}

.footer_links:hover {
  text-decoration: none;
}
