.introduction_section {
  margin-left: auto;
  margin-right: auto;
  width: 59%;
  margin-bottom: 14.5em;
  font-family: "Inter", sans-serif;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-name: BounceInLeft;
  cursor: pointer;
}

.heading {
  font-family: "Bitter", sans-serif;
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 50px;
  margin-top: 30px;
  font-style: normal;
  color: #000000;
  text-rendering: optimizeLegibility;
}

.description {
  font-family: "", sans-serif;
  font-weight: 347;
  font-size: 1.9em;
  width: fit-content;
  line-height: 1.25;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.belowDotted {
  font-weight: bold;
  margin-top: 2px;
  color: #6b9e78;
  font-size: 1.1em;
  animation: fadeInUp 1s 1s ease both;
}

.aboveDotted {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 1.2em;
  animation: fadeInDown 1s 1s ease both;
}

.edition,
.days {
  width: fit-content;
  min-width: 30%;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
  align-items: center;
  padding-right: 2%;
  padding-left: 2%;
}

.buttonSection {
  display: flex;
  justify-content: space-between;
}

sup {
  font-size: 0.5em;
}

.agendaButton,
.speakerButton {
  font-weight: bolder;
  margin-top: 0;
  width: 30%;
  margin-bottom: 0.25em;
  font-size: 1.5em;
  background-color: #003d4f;
  color: white;
  border-radius: 3px;
  padding: 0.7em;
  display: inline-block;
  margin: 5px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-name: rotateInUpLeft;
  cursor: pointer;
}

@keyframes rotateInUpLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }

  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes BounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateX(30px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@media only screen and (min-width: 768px) {
  .heading {
    line-height: 1.4;
  }
}

@media only screen and (max-width: 768px) {
  .description {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 900px) {
  .logo {
    width: 50%;
  }
  .introduction_section {
    width: 90%;
  }
  .belowDotted,
  .aboveDotted {
    font-size: 0.9em;
  }
  .buttonSection {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
  }
  .agendaButton,
  .speakerButton {
    width: 90%;
  }
  .speakerButton {
    margin-top: 1.2em;
  }

  .days {
    width: fit-content;
    min-width: 42%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .introduction_section {
    width: 80%;
  }
  .logo {
    width: 40%;
  }
}
