.navbar_button:hover {
  background-color: #003d4f;
  opacity: 0.5;
  color: white;
  line-height: 60px;
}

.navbar_button {
  cursor: pointer;
  padding: 0 15px;
  text-decoration: none;
}

.nav_links:link,
.nav_links:visited,
.nav_links:active {
  text-decoration: none;
  color: black;
}
.nav_links:hover {
  text-decoration: none;
  color: white;
}

.navbar,
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 770px) {
  .app_bar {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .navbar_button,
  .buttons {
    display: none;
  }
}
