.navbar_button:hover {
    background-color: #003D4F;
    opacity: 0.5;
    color: white;
    line-height: 60px;
}

.navbar_button {
    cursor: pointer;
    padding: 0 15px;
}

.navbar, .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

