.speakers_section {
  color: white;
  background: black;
  position: relative;
  overflow: hidden;
  clear: both;
  min-height: fit-content;
  font-family: "Inter", sans-serif;
  padding: 3.8rem;
  padding-top: 0px;
}

.speakers_heading {
  font-size: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 59%;
  font-family: "Inter", sans-serif;
  height: 39px;
  font-weight: bold;
  margin-bottom: 1.5em;
  padding: 0 5%;
}

.speakers_image {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
  filter: grayscale(100%);
  border-radius: 10%;
  width: 180px;
  height: 180px;
}

.speakers_list_description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-bottom: 3.5em;
}

.image {
  width: 180px;
}

.speaker_details {
  width: 30%;
  text-align: left;
  padding-left: 25px;
}

.speaker_name {
  font-size: 30px;
  font-weight: 345;
}

.speaker_designation,
.speaker_company {
  font-size: 20px;
}

.speaker_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .speaker_list {
    position: relative;
    width: 70%;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  .speakers_heading {
    width: 90%;
  }
  .speakers_list_description {
    width: 100%;
    padding: auto;
  }
  .speaker_designation {
    width: max-content;
  }
}
